$bp-largest: 75em;     // 1200px;
$bp-large: 68.75em;     // 1100px;
$bp-medium: 56.25em;     // 900px;
$bp-small: 37.5em;     // 600px
$bp-smallest: 31.25em; // 500px
///////////////// Header
// Logo
.logo {
  height: 3.25rem;
  margin-left: 3rem;
}

// Nav use

.user-nav {
  display: flex;
  align-self: stretch;

  & > * {
    height:100%;
    padding: 0 2rem;
    cursor: pointer;
    display: flex;
    align-items: center; 
  }
  & > *:hover {
    background-color: var(--color-grey-light-2);
  }
  &__icon-box {
    position: relative;
  }
  &__icon {
    height: 2.25rem;
    width: 2.35rem;
    fill: var(--color-grey-dark-2)
  }
  &__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1.5rem;
    right: 1.6rem;
    @media only screen and (max-width: $bp-smallest) {
      top: 3.5rem;
      right: 1.8rem;
    }
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}