<img src="../../assets/img/logo.png" alt="trillo logo" class="logo">
<div class="user-nav">
    <div class="user-nav__icon-box">
      <i class="fas fa-bookmark user-nav__icon"></i>
      <span class="user-nav__notification">7</span>
    </div>
    <div class="user-nav__icon-box">
      <i class="fas fa-comments user-nav__icon"></i>
      <span class="user-nav__notification">13</span>
    </div>
    <div class="user-nav__user">
        <img src="../../assets//img/avarta.jpg" alt="user photo" class="user-nav__user-photo">
        <span class="user-nav__user-name">MinRun</span>
    </div>
</div>
