
<div class="group-btn">
  <button class="btnNew" (click)="fetchRecipes()">
    <span>Fetch recipes</span>
  </button>
  <button class="btnNew" (click)="storeRecipes()" style="margin-left: 1rem;">
    <span>Store recipes</span>
  </button>
</div>
<div class="recipes">
  <app-recipe-item
    *ngFor="let recipeEl of recipes; let i = index"
    [recipe]="recipeEl"
    [index]="i"></app-recipe-item>
</div>
<div class="cta">
  <h2 class="cta__book-now">
      Good news! many gifts for new recipe
  </h2>
  <button class="btnNew" (click)="onNewRecipe()">
      <span class="btnNew-visible">new recipe</span>
      <span class="btnNew-invisible">only 4 gifts left</span>
  </button>
</div>

