$bp-largest: 97.5em;     
$bp-large: 91em;
$bp-medium: 70em;  
$bp-small: 48em;  
$bp-smallest: 31.25em; // 500px

// cta 
.cta {
  padding: 3.5rem 0;
  text-align: center;
  border-top: var(--line);
  @media only screen and (max-width: $bp-medium) {
    padding: 2rem 0;
  }
  &__book-now {
    font-style: 2rem;
    font-weight: 300;
    margin-bottom: 2.5rem;
    text-transform: uppercase;
    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 2rem;
    }
  }
}


.btnNew {
  font-style: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border: none;
  border-radius: 100px;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  position: relative;
  color: #fff;
  overflow: hidden;
  cursor: pointer;
  & > * {
    display: block;
    width: 100%;
    height: 100%;
    transition: all 0.2s;
  }
  &-visible {
    padding: 2rem 7.5rem;
  }
  &-invisible {
    padding: 2rem 0rem;
    position: absolute;
    top: -100%;
    left: 0;
  }

  &:hover {
    background-image: linear-gradient(to left bottom, var(--color-primary-light), var(--color-primary-dark));
  }

  &:hover &-visible {
    transform: translateY(100%)
  }

  &:hover &-invisible {
    top: 0;
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}


// .recipes {
//   grid-column: center-start / center-end;
//   margin: 10rem 15rem;
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
//   grid-gap: 7rem;
// }
.recipes {
  margin: 10rem 15rem;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
    align-items: center;
  }
  @media only screen and (max-width: $bp-small) {
		margin: 0;
    margin-top: 5rem;
	}
}

.group-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  span {
    padding: 1rem 3rem;
  }
}

// Search
.search {
  flex: 0 0 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  // @media only screen and (max-width: $bp-smallest) {
  //   order: 1;
  //   flex: 0 0 100%;
  //   background-color: var(--color-grey-light-2);
  // }
  &__input {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    border-radius: 100px;
    width: 90%;
    padding: .7rem 2rem;
    margin-right: -3.25rem;
    transition: all .2s;

    &:focus {
      outline: none;
      background-color: var(--color-grey-light-3);
      width: 100%;
      // @media only screen and (max-width: $bp-smallest) {
      //   background-color: var(--color-grey-light-2);
      // }
    }
    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4)
    }
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);
    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(2px)
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3); // property in CSS is for filling in the color of a SVG shape.
  }
}

.pagination {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  .my-pagination ::ng-deep .ngx-pagination .current {
    background-color: var(--color-primary-dark);
  }
}
  