<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container-main">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div> -->

<div class="container-main">
  <app-header class="header"></app-header>
  <div class="content">
    <app-sidebar class="sidebar"></app-sidebar>
    <main class="hotel-view">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
