<!-- <a
  style="cursor: pointer;"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
    <p class="list-group-item-text">{{ recipe.description }}</p>
  </div>
  <span class="pull-right">
        <img
          [src]="recipe.imagePath"
          alt="{{ recipe.name }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
</a> -->
<!-- <article class="leaderboard__profile">
  <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="leaderboard__picture">
  <div class="leaderboard__detail-box">
    <span class="leaderboard__name">{{ recipe.name }}</span>
    <span class="list-group-item-text">{{ recipe.description }}</span>
  </div>
  <span class="leaderboard__value">{{index+1}}</span>
</article> -->


<div class="home">
  <img [src]="recipe.imagePath" alt="House 1" class="home__img">
  <i class="fas fa-heart home__like"></i>
  <h5 class="home__name">{{ recipe.name }}</h5>
  <div class="home__location" *ngFor="let ingredient of recipe.ingredients">
      <i class="fas fa-chevron-right"></i>
      <p>{{ ingredient.name }} - {{ ingredient.amount }}</p>
  </div>
  <button class="btn-list home__btn" [routerLink]="[index]">
    view
  </button>
</div>